@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

@import '../node_modules/angular-notifier/styles.css';

html {
    body {
        margin: 0;
        padding: 0;
        font-family: Verdana;
        font-size: 10pt;
    }
}

.header {
    .navbar-nav {
        .nav-item {
            .nav-link.active {
                background: #e3e2ea;
            }
        }
    }
}

.main-content {

}

.footer {
    margin-bottom: 400px;
}
